<%= link_to 'New Category', new_category_path %>

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Start Smart
                <small>Start your company the smart way!</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    
    <!-- Projects Row -->
    <div class="row">
      <% @categories.each do |category| %>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="http://placehold.it/700x400" alt="">
              </a>
              <h3>
                  <%= link_to category do %>
                    <strong><%= category.name %></strong>
                  <% end %>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
      <% end %>
    </div><!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; StartSmart 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
