<!-- UI - X -->
<div class="ui-68">
  <div class="container-fluid"> 
    <div class="field">
      <div id="star-rating"></div>
    </div>
    <div class="ui-content">
      <%= form_for [category, resource, review] do |f| %>
        <!-- TextArea -->
        <%= f.text_area :comment, class: "form-control", rows: "6" %>
        <!-- Button -->
        <div class="ui-buttons clearfix">
          <!-- Button -->
          <%= f.submit '提交评论', class: "btn btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Raty BEGIN-->
<script>
    $('#star-rating').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>
<!-- Raty END -->